<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
  <h1>게시글 목록</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>제목</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="board : ${boards}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{/post/{id}(id=${board.id})}" th:text="${board.title}"></a></td>
        <td th:text = "${board.author}"></td>
      </tr>
    </tbody>
  </table>
  <a href="/post">글쓰기</a>
</body>
</html>